.carts-wrap.w {
    margin: 20px auto;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #44546A;
    border-bottom: 0;
}

.carts-wrap .carts-item {
    border-bottom: 1px solid #44546A;
    display: flex;
    box-sizing: border-box;

}

.carts-item .number{
    line-height: 300px;
    padding: 0 20px;
    flex: 1;
}

.carts-wrap .carts-item .cover {
    width: 250px;
    /*border-right: 1px solid #44546A;*/
}

.carts-wrap .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.carts-wrap .info .title{
    text-decoration: underline;
}

.carts-wrap  .price{
    float: right;
    font-size: 16px;
}

.sub-btn,
.plus-btn{
    display: inline-block;
    width: 20px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #44546A;
}

.checkout-btn{
    padding: 15px 40px;
    border-radius: 5px;
    background-color: #44546A;
    border: 0;
    color: #fff;
    float: right;
}