.contact form>div>label {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.contact form>div>input,
.contact form>div>select,
.contact form>div>textarea {
    display: block;
    width: 100%;
    min-height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #BBB5AE;
    margin: 0;
}

.contact form>div>button {
    display: block;
    width: 100%;
    margin-top: 10px;
    min-height: 35px;
    border: 0;
    background-color: #44546A;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}