.user-list{
    background-color: #E7E6E6;
    border-radius: 15px;
    padding: 30px;
    border: 2px solid #44546A;
}

.w .title{
    color: #44546A;
}

.user-list h2{
    color: #44546A;
}

.user-list .users{
    list-style: none;
    margin: 0;
}

.user-list .users li {
    padding: 10px 0;
}

.user-list .users li a{
    color: #44546A;
    text-decoration: none;
}