.detail{
    display: flex;
}

.detail .image img{
    width: 600px;
    height: 600px;
}

.detail .info {
    padding: 30px;
}

.detail .info h1{
    font-weight: 500;
}

.detail .info .icons-text{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    line-height: 40px;
}

.detail .info .icons-text li{
    width: 50%;
    display: flex;
    margin: 10px 0;
}

.detail .info .icons-text img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}