.product-detail.w {
    padding: 30px;
    border: 1px solid #44546A;
    display: flex;
    box-sizing: border-box;
    margin: 20px auto;
}
.product-detail .info{
    flex: 1;
    padding: 30px;
}

.product-detail .cover-small{
    cursor: pointer;
}
.product-detail .info-type{
    border: 1px solid #44546A;
    padding: 10px 30px;
    border-radius: 15px;
    margin: 20px 0;
    position: relative;
}

.product-detail .info-type .title{
    color: #44546A;
    border-bottom: 1px solid #44546A;
    padding: 10px 0;
}

.number-btn{
    display: inline-block;
    width: 20px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #44546A;
}

.add-cart-btn{
    background-color: #44546A;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.back-btn{
    background-color: #e6e6e6;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.size-select{
    display: flex;
    justify-content: space-between;
}

.size-select div{
    background-color: #E7E6E6;
    padding: 20px 30px;
    border-radius: 15px;
    border: 1px solid #44546A;
    cursor: pointer;
}

.info-type .select{
    position: absolute;
    height: 80px;
    width: 80px;
    font-weight: bolder;
    line-height: 80px;
    text-align: center;
    color: #fff;
}

.size-select .active{
    background-color: #f6f6f6;
}