body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 60px;
    margin: 30px auto;
}

.header .logo img {
    height: 80px;
}

.header .nav {
    width: 100%;
    margin-left: 10px;
}

.header .nav ul {
    display: flex;
    list-style: none;
    background-color: #E7E6E6;
    border: 1px solid #BBB5AE;
    text-align: left;
    margin: 0;
    height: 40px;
    padding: 0 20px;
    margin-top: 20px;
    line-height: 40px;
    justify-content: space-between;
}


.header .nav ul li a {
    text-decoration: none;
    color: #44546A;
    font-weight: bold;
}